﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolManagementSystem</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-info" >

            <div class="container-fluid">
                <a class="btn font-weight-bold" style="color:white" asp-area="" asp-controller="Home" asp-action="Index">School Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index" >Home</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                    Programme
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Programme" asp-action="Create">Create</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Programme" asp-action="index">Pragramme List</a>
                                </div>
                            </li>
                        }



                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                    Module
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Module" asp-action="Create">Create</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Module" asp-action="index">Module List</a>
                                </div>
                            </li>
                        }



                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                    Assessment
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Assessments" asp-action="Create">Create</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Assessments" asp-action="index">Assessment List</a>
                                </div>
                            </li>
                        }



                        @{
                            if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                        Assessment Result
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="AssessmentResults" asp-route-id="@null" asp-action="Submit">Submit</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="AssessmentResults" asp-action="ShowAll">Assessment Result List</a>
                                    </div>
                                </li>
                            }
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                    Register User
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="Register">Student</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Register">Teacher</a>
                                </div>
                            </li>
                        }


                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                    User List
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Student" asp-action="ShowAll">Student List</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Teacher" asp-action="Index">Teacher List</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-info" asp-area="" asp-controller="Student" asp-action="ShowResult" asp-route-id="@User.Identity.Name">See Your Result</a>
                            </li>
                        }

                    </ul>
                    <ul class="navbar-nav ml-auto">



                        @if (User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-info" asp-area="" asp-controller="Student" asp-action="Details" asp-route-id="@User.Identity.Name">Profile</a>
                            </li>
                        }

                        @if (User.IsInRole("Teacher"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-info" asp-area="" asp-controller="Teacher" asp-action="Details" asp-route-id="@User.Identity.Name">Profile</a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="btn btn-info" asp-area="" asp-controller="Auth" asp-action="ChangeAdminPassword">Change Password</a>
                            </li>
                        }

                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown">
                                    <a class="btn btn-info dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true">
                                        
                                        @{
                                            var list=  User.Claims.ToList();
                                            string surname = list[2].Value;

                                        }

                                        Welcome @surname
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                                    </div>
                                </li>
                            }

                        }


                    </ul>
                </div>
            </div>

        </nav>

        

    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - SchoolManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
