﻿@model SchoolManagementSystem.Models.Assessment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentTotalMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentTotalMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AssessmentID" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>
</div>
