﻿@model SchoolManagementSystem.Models.Assessment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Assessment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentTotalMark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentTotalMark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssessmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
