﻿@model IEnumerable<SchoolManagementSystem.Models.Assessment>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header bg-info">
        <h3 class="text-center" style="color:white">List of Assessment</h3>
    </div>
    <div class="card-body">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AssessmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssessmentDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssessmentTotalMark)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AssessmentType)
                    </th>
                    <th>
                        Module Name
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssessmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssessmentDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssessmentTotalMark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssessmentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Module.ModuleName)
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.AssessmentID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>