﻿@model SchoolManagementSystem.Models.AssessmentResult

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AssessmentResult</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Student Name
        </dt>
        <dd class="col-sm-10">
            @Model.Student.FirstName @Model.Student.SurName
        </dd>
        <dt class="col-sm-2">
            Program
        </dt>
        <dd class="col-sm-10">
            @Model.Programme.ProgrammeName
        </dd>
        <dt class="col-sm-2">
            Module
        </dt>
        <dd class="col-sm-10">
            @Model.Module.ModuleName
        </dd>
        <dt class="col-sm-2">
            Assessment
        </dt>
        <dd class="col-sm-10">
            @Model.Assessment.AssessmentName
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AssessmentResultID" />

        <a asp-action="ShowAssessmentResult" class="btn  btn-primary" asp-route-id="@Model.AssessmentResultID">Back</a>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
