﻿@model SchoolManagementSystem.Models.AssessmentResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AssessmentResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssessmentResultID" />
            <div class="form-group">
                <label asp-for="AssessmentResultDescription" class="control-label"></label>
                <input asp-for="AssessmentResultDescription" class="form-control" />
                <span asp-validation-for="AssessmentResultDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessmentResultMark" class="control-label"></label>
                <input asp-for="AssessmentResultMark" class="form-control" />
                <span asp-validation-for="AssessmentResultMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <select asp-for="StudentID" class="form-control" asp-items="ViewBag.StudentID"></select>
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgrammeID" class="control-label"></label>
                <select asp-for="ProgrammeID" class="form-control" asp-items="ViewBag.ProgrammeID"></select>
                <span asp-validation-for="ProgrammeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessmentDate" class="control-label"></label>
                <input asp-for="AssessmentDate" class="form-control" />
                <span asp-validation-for="AssessmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleID" class="control-label"></label>
                <select asp-for="ModuleID" class="form-control" asp-items="ViewBag.ModuleID"></select>
                <span asp-validation-for="ModuleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessmentID" class="control-label"></label>
                <select asp-for="AssessmentID" class="form-control" asp-items="ViewBag.AssessmentID"></select>
                <span asp-validation-for="AssessmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
