﻿@model SchoolManagementSystem.Models.Programme

@{
    ViewData["Title"] = "Create";
}


<div class="card">
    <div class="card-header bg-info">
        <h2 class="text-center" style="color:white">Create a Programme</h2>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Create" class="form-horizontal">
            <div>
                <div class="container">

                    @{
                        if (ViewBag.SuccessMsg != null)
                        {
                            <div class="row">
                                <div class="col-8 offset-2">
                                    <div class="bg-light p-2 text-center font-weight-bold" style="color:green">@ViewBag.SuccessMsg</div>
                                </div>
                            </div>
                        }
                        <br />
                    }

                    <div class="row">

                        <div class="form-group col-4 offset-4">
                            <label asp-for=ProgrammeID class="control-label font-weight-bold"></label>
                            <input type="text" asp-for=ProgrammeID value="@ViewBag.ProgrammeID" class="form-control" readonly>
                            <span asp-validation-for=ProgrammeID class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-4 offset-4">
                            <label asp-for=ProgrammeName class="control-label font-weight-bold"></label>
                            <input type="text" asp-for=ProgrammeName class="form-control">
                            <span asp-validation-for=ProgrammeName class="text-danger"></span>

                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-4 offset-4">
                            <label asp-for=ProgrammeDescription class="control-label font-weight-bold"></label>
                            <textarea type="text" asp-for=ProgrammeDescription class="form-control" rows="2"></textarea>
                            <span asp-validation-for=ProgrammeDescription class="text-danger"></span>

                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-4 offset-4">
                            <label asp-for=ProgrammeQQILevel class="control-label font-weight-bold"></label>
                            <input type="text" asp-for=ProgrammeQQILevel class="form-control">
                            <span asp-validation-for=ProgrammeQQILevel class="text-danger"></span>

                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-4 offset-4">
                            <label asp-for=ProgrammeCredits class="control-label font-weight-bold"></label>
                            <input type="text" asp-for=ProgrammeCredits class="form-control">
                            <span asp-validation-for=ProgrammeCredits class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-4 offset-4">
                            <label asp-for=ProgrammeCost class="control-label font-weight-bold"></label>
                            <input type="text" asp-for=ProgrammeCost class="form-control">
                            <span asp-validation-for=ProgrammeCost class="text-danger"></span>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-4 offset-4">
                            <button type="submit" class="btn btn-success btn-block">Create Programme</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
