﻿@model SchoolManagementSystem.Models.Programme

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Programme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeName)
        </dd>
        <dt class="col-sm-2">
            Programme Desc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeQQILevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeQQILevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeCost)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProgrammeID" />
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>
</div>
