﻿@model SchoolManagementSystem.Models.Programme

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Programme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeQQILevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeQQILevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgrammeCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgrammeCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProgrammeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
