﻿@model IEnumerable<SchoolManagementSystem.Models.Programme>

@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <div class="card-header bg-info">
        <h3 class="text-center" style="color:white">List of Programme</h3>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProgrammeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProgrammeDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProgrammeQQILevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProgrammeCredits)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProgrammeCost)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeQQILevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeCredits)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgrammeCost)
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.ProgrammeID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProgrammeID">Details</a> |*@
                            <a asp-action="Delete"class="btn btn-danger" asp-route-id="@item.ProgrammeID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>