﻿@model SchoolManagementSystem.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurName)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentImage)
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.StudentImage != null)
                {
                    var base64 = Convert.ToBase64String(Model.StudentImage);
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                    <img src=@imgSrc style="max-width:200px; max-height:200px;" />
                }

                else
                {
                    <img src="~/Content/no-photo.png" style="max-width:200px; max-height:200px;" />
                }
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentID" />
        <a asp-action="Details" asp-route-id="@Model.StudentID" class="btn btn-primary">Back to Details Page</a>
        <input type="submit" value="Delete" class="btn btn-danger" />

    </form>
</div>
