﻿@{
    ViewData["Title"] = "Home Page";
}


    <div class="CenterDiv">
        <div class="text-center">
            <h1 class="display-4 bg-light p-5">Welcome to Homepage</h1>
        </div>
    </div>

