﻿@model SchoolManagementSystem.Models.Module

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleCredits)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ModuleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
