﻿@model IEnumerable<SchoolManagementSystem.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header bg-info">
        <h3 class="text-center" style="color:white">List of Module</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ModuleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModuleDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModuleCredits)
                        </th>
                        <th>
                            Programme Name
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModuleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModuleDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModuleCredits)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Programme.ProgrammeName)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.ModuleID" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        
    </div>
</div>